* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bigContainer {
  margin: 0 auto;
  margin-top: 10%;
}

.keyboardContainer {
  --bs-gutter-x: 0 !important;
}

.keyboardContainer li:nth-child(4n) button,
.keyboardContainer li:nth-last-child(1) button {
  background-color: #f4933b;
}

.keyboardContainer li:nth-last-child(3) {
  width: 50% !important;
}

.inputBtn {
  border: transparent;
  outline: transparent;
}

.displayInput {
  background-color: rgb(92, 91, 91);
  color: whitesmoke;
  text-align: right;
  font-weight: 800;
  padding: 1%;
}
